# To download the subtitles
youtube-dl==2020.9.20

# Parsing captions
webvtt-py==0.4.5
humanfriendly==8.2

# Django app
Django==3.1.1
django-extensions==3.0.9
Werkzeug==1.0.1
psycopg2==2.8.6
stringcase==1.2.0

# Testing
pytest==6.2.2
pytest-django==4.1.0
